.head_top {
    background: url(../assets/image/banner1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_main {
    padding: 90px 0 190px 0;
}

.text-bg {
    text-align: left;
}

.text-bg h1 {
    color: #02fee5;
    font-size: 75px;
    line-height: 110px;
    font-weight: bold;
}

.text-bg p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding: 40px 0;
}

.text-bg a {
    font-size: 17px;
    background-color: #fff;
    color: #000;
    padding: 13px 0px;
    width: 100%;
    max-width: 190px;
    text-align: center;
    display: inline-block;
    transition: ease-in all 0.5s;
}

.text-bg a:hover {
    background-color: #02fee5;
    color: #000;
    transition: ease-in all 0.5s;
    border-radius: 26px;
}

.text-img {
    text-align: left;
}

.white1 {
    color: #fff;
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
    color: white;
}

.titlepage h2 {
    font-size: 40px;
    color: white;
    line-height: 57px;
    font-weight: bold;
    padding: 0;
    padding-bottom: 20px;
}

.d_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.blog_main {
    margin-top: 85px;
}

.blog_main .span {
    font-size: 17px;
    line-height: 20px;
    color: whitesmoke;
}

.our_two_box {
    box-shadow: #ddd 0px 0px 10px 0px;
    margin-bottom: 90px;
}

.our_text_box {
    padding: 1px 30px 1px 1px;
}

.our_img figure {
    margin: 0;
}

.our_img figure img {
    width: 100%;
}

.awesome {
    padding-bottom: 40px;
    font-size: 26px;
    line-height: 38px;
    color: white;
}

.our_text_box p {
    padding-bottom: 50px;
    color: whitesmoke;
    display: inline-block;
}

.flot_left1 {
    float: left;
    padding: 0;
}

ul.like {
    float: right;
}

ul.like li {
    display: inline-block;
}

ul.like li a {
    display: inline-block;
    color: whitesmoke;
}

ul.like li img {
    padding: 0px 10px 0px 40px;
}

.position_box {
    position: absolute;
    bottom: 0;
    padding: 0px 20px 20px 20px;
}

.withi_color {
    color: #fff;
}

.position_box p {
    color: #fff;
}

ul.withi_color li a {
    color: #fff;
}

ul.withi_color {
    float: left;
    padding-left: 40px;
}

.padding_flot {
    padding-bottom: 0;
    display: inline-block;
    float: left;
    font-size: 20px;
    padding-right: 14px;
}

.three_box {
    padding: 20px 20px;
    box-shadow: #ddd 0px 0px 10px 0px;
}

.three_box p {
    padding-bottom: 0;
    padding-top: 15px;
}

ul.padding_left2 li img {
    padding: 0px 10px 0px 30px;
}

.magna_top90 {
    margin-top: 90px;
}


.Testimonial {
    background: url(../assets/image/test_bg.jpg);
    background-repeat: no-repeat;
    padding: 60px 0px;
    background-position: center;
    background-size: 100% 100%;
}

.Testimonial .titlepage {
    text-align: left;
    padding-bottom: 15px;
}

.Testimonial .titlepage h2 {
    color: #fff;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.Testimonial .titlepage span {
    color: #fff;
}

.Testimonial_box i {
    border: #e6e1e1 solid 10px;
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 210px;
    cursor: pointer;
    background: #6ad0bc;
    padding: 8px;
}

.Testimonial_box i::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: -16px;
    left: 34px;
    display: inline-block;
    border: #ddd solid 6px;
    border-radius: 30px;
    background: #6ad0bc;
}

.Testimonial_box {
    text-align: left;
}

.Testimonial_box h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding: 0;
}

.Testimonial_box p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    padding: 25px 0 0px 0;
}