.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }
  
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
#intro {
    width: 100%;
    height: 100vh;
    background: url(../assets/image/intro-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  #intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #f82249;
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  #intro .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#f82249 50%, rgba(101, 111, 150, 0.15) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  #intro .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  #intro .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(163, 163, 163, 0.4);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  #intro .play-btn:hover::after {
    border-left: 15px solid #f82249;
    -webkit-transform: scale(20);
    transform: scale(20);
  }
  
  #intro .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  #intro .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
  }
  
  #intro .about-btn:hover {
    background: #f82249;
    color: #fff;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      -webkit-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      -webkit-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  
#about {
    background: url("../assets/image/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }
  
  #about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
  }

  
#speakers {
    padding: 60px 0 30px 0;
  }
  
  #speakers .speaker {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #speakers .speaker .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #speakers .speaker .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #speakers .speaker .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  #speakers .speaker .details .social {
    height: 30px;
  }
  
  #speakers .speaker .details a {
    color: #fff;
  }
  
  #speakers .speaker .details a:hover {
    color: #f82249;
  }
  
  #speakers .speaker:hover .details {
    bottom: 0;
  }
  
  #speakers-details {
    padding: 60px 0;
  }
  
  #speakers-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  #speakers-details .details .social {
    margin-bottom: 15px;
  }
  
  #speakers-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
  }
  
  #speakers-details .details .social a:hover {
    background: #f82249;
    color: #fff;
  }
  
  #speakers-details .details .social a i {
    font-size: 18px;
  }
  
  #speakers-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
  }
  