.main{
    background-color: black;
    height: 500px;
}
.main-sec{
    background-color: rgb(13, 13, 150);
    height: 600px;
    width: 580px;
    position: relative;
    top: 50px;
    left: 100px;
    opacity: 1;
}
.main-th{
    background-color: rgb(0, 0, 73);
    height: 280px;
    width: 700px;
    position: absolute;
    top: 305px;
    left: 680px;
    /* opacity: 0.8; */
}
.heading{
    color: white;
    /* font-weight: bolder;- */
    opacity: 1;
    font-size: 5rem;
    /* text-align: center; */
    position: relative;
    top: 120px;
    left: 50px;
}
/* .info{ */
    /* background-color: aquamarine; */
    /* height: 500px; */
/* } */
.info_img{
    height: 500px;
    position: relative;
    left: 900px;
}
.heading2{
    color: black;
    font-weight: bold;
    /* color: white; */
    /* font-weight: bolder;- */
    /* opacity: 1; */
    font-size: 5rem;
    /* text-align: center; */
    position: absolute;
    top: 800px;
    left: 150px;
}
.sub_h2{
    color:rgb(13, 13, 150)
}
.info_text{
    max-width: 1350px;
    padding: 150px;
    font-size: 1.3rem;
}